<p>This page probably won't do much if you're not on Firefox or Chrome, or if you're on an iPhone. Android people might be ok.</p>
<p>Don't expect to hear anything from this window for <%= @repeatLength%> seconds</p>
<h1>Procedural cycle of thirds ambient thing by <a href="http://github.com/christopheralcock">Christopher Alcock</a></h1>
<p>These numbers relate to the notes this page will play: <span id=notes><%= @notes %></span></p>
<p>There are <span id=noteLength><%= @noteLength %></span> seconds between each note</p>
<p>The notes are <span id=wave><%= @wave %></span> waves</p>
<p>The phrase is repeated every <span id=loop><%= @repeatLength %></span> seconds</p>
<p>The chord changes every <span id=chordchange>?</span> seconds</p>


<p><a href="/sym2" target="_blank">click to add another instrument (just opens this page in another tab - after 6 tabs, extra ones might not work, but you should be able to open 6 more in another window, making it ore complex and potentially interesting)</a></p>
<p>For best results, open the page on tabs on as many computers/android devices as you can - the chords will be in sync with eachother so long as your clocks are right. I'm not sure it will work on iPhones, though.</p>


<script>
  var audioContext = new AudioContext()
  var startTime = new Date();
  var seconds = startTime.getSeconds();
  var milliseconds = startTime.getMilliseconds()/1000;
  var melodyLength = document.getElementById("loop").innerHTML
  var noteSet = JSON.parse(document.getElementById("notes").innerHTML)
  var noteLength = document.getElementById("noteLength").innerHTML
  var wave = document.getElementById("wave").innerHTML
  var secondsPerChord = 20;
  document.onload = delayer();
  document.getElementById("chordchange").innerHTML = secondsPerChord;

  function delayer(){
    setTimeout(repeater,delayCalc())
    console.log(delayCalc()/1000);
  }

  function delayCalc(){
    // return ((60 - melodyLength) - (seconds + milliseconds))*1000
    return 0
  }

  function repeater(){
    setInterval(melody,(1000 * melodyLength))
  }

  function melody(){
    play(0, noteSet[0], 0.5, wave)
    play((+noteLength), noteSet[1], 0.5, wave)
    play((2 * +noteLength), noteSet[2], 0.5, wave)
  }

  function timeInSeconds(time){
    var seconds = time.getSeconds()
    var minutes = time.getMinutes()
    var hours = time.getHours()
    var days = time.getUTCDate()
    return seconds + (minutes * 60) + (hours * 60 * 60) + (days * 60 * 60 * 24)
  }

  function fifthsCycler(number){
    if (number % 12 == 0){return 0};
    if (number % 12 == 1){return 7};
    if (number % 12 == 2){return 2};
    if (number % 12 == 3){return 9};
    if (number % 12 == 4){return 4};
    if (number % 12 == 5){return 11};
    if (number % 12 == 6){return 6};
    if (number % 12 == 7){return 1};
    if (number % 12 == 8){return 8};
    if (number % 12 == 9){return 3};
    if (number % 12 == 10){return 10};
    if (number % 12 == 11){return 5};
  }

  function thirdsCycler(number){
    if (number % 24 == 0){return [0, "major"]};
    if (number % 24 == 1){return [-3, "minor"]};
    if (number % 24 == 2){return [5, "major"]};
    if (number % 24 == 3){return [2, "minor"]};
    if (number % 24 == 4){return [-2, "major"]};
    if (number % 24 == 5){return [7, "minor"]};
    if (number % 24 == 6){return [3, "major"]};
    if (number % 24 == 7){return [0, "minor"]};
    if (number % 24 == 8){return [8, "major"]};
    if (number % 24 == 9){return [5, "minor"]};
    if (number % 24 == 10){return [1, "major"]};
    if (number % 24 == 11){return [-2, "minor"]};
    if (number % 24 == 12){return [6, "major"]};
    if (number % 24 == 13){return [3, "minor"]};
    if (number % 24 == 14){return [-1, "major"]};
    if (number % 24 == 15){return [8, "minor"]};
    if (number % 24 == 16){return [4, "major"]};
    if (number % 24 == 17){return [1, "minor"]};
    if (number % 24 == 18){return [-3, "major"]};
    if (number % 24 == 19){return [6, "minor"]};
    if (number % 24 == 20){return [2, "major"]};
    if (number % 24 == 21){return [-1, "minor"]};
    if (number % 24 == 22){return [7, "major"]};
    if (number % 24 == 23){return [4, "minor"]};
  }

  function play(delay, pitch, duration, wave) {
    var progressiveTime = new Date();
    var secondsIntoMonth = timeInSeconds(progressiveTime)
    var chordNumber = parseInt(secondsIntoMonth/secondsPerChord)
    var transpose = thirdsCycler(chordNumber)[0]
    var currentChordType = thirdsCycler(chordNumber)[1]
    if ([-20,-8,4,16,28].includes(pitch) && currentChordType == "minor"){pitch = pitch - 1}
    var startTime = audioContext.currentTime + delay;
    var endTime = startTime + duration;

    var envelope = audioContext.createGain();
    envelope.connect(audioContext.destination);
    envelope.gain.value = 0;
    envelope.gain.setTargetAtTime(1, startTime, 0.1);
    envelope.gain.setTargetAtTime(0, endTime, 0.2);

    var oscillator1 = audioContext.createOscillator();
    oscillator1.connect(envelope);
    oscillator1.type = wave;
    oscillator1.detune.value = (pitch + transpose) * 100;
    oscillator1.start(startTime);
    oscillator1.stop(endTime + 2);
  }

</script>
